body{
    background-color: red;
}
nav>ul{
    display: flex;
    list-style: none;
}
nav>ul>li{
    flex-direction: row;
    margin: 5px ;
    border: solid black 1px;
}

a{
    text-decoration: none ;
    color: black;

}